<h2>Delete User</h2>

<form (ngSubmit)="onSubmit()">
    <div class="form-group"></div>
    <label>Enter Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Enter name to be deleted">
    <button type="submit" class="btn btn-success">Delete</button>
</form>
<br><br><br>
<div class="container">
    <div class="class">
        <h3 class="text-center">Deleted User</h3>
        <div class="card-cody">
            <table class="table table-stripped">
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                </thead>

                <tbody>
                    <tr>
                        <td>{{user.name}} </td>
                        <td>{{user.email}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>